html {
    font-family: 'Archivo', sans-serif;
  }
  * {
    margin: 0;
    padding:0;
  }
.pagina{
    width:1000px;
    margin: 0 auto;
    display:grid;
    grid-template-areas :
    'logo logo logo logo logo logo'
    'nav nav nav nav nav nav'
   'main main main main main main'
   'left left middle middle right right'
   'footer footer footer footer footer footer';

}
#logo {
    margin-left:25px;
    margin-bottom: 15px;
    grid-area: logo;
    
}
nav {

    width:950px;
    height:35px;
    margin: 0 auto;
    background: #222931;
    grid-area: nav;
    padding-top:20px;
    padding-left:0px;
}
.link{
    text-decoration:none;
    color:white;
    padding:20px;
   
}
.link:hover{
    text-decoration:none;
    color:black;
    border-radius: 2px; 
    -webkit-transition-duration: 0.4s;
    transition-duration:0.4s; 
     cursor: pointer;
    background-color:#ffe718
}
.link2 {
    text-decoration:none;
    color:white;
    padding: 3px 0px;
   
    border-radius: 12px; 
    -webkit-transition-duration: 0.4s;
    transition-duration:0.4s; 
     cursor: pointer;
     width:120px;
     height:16,67px
}
.link2:hover {
    text-decoration:none;
    color:black;
    
    margin-top:5px;
    border-radius: 2px; 
    -webkit-transition-duration: 0.4s;
    transition-duration:0.4s; 
     cursor: pointer;
    background-color:#ffe718
}
.header {
    width :100%;
    position: absolute;
    top:60px;
    z-index: -1;
}
.banner1 {
grid-area: left;
margin-top:600px;

}
.banner2 {
grid-area: middle;
margin-top:600px;

}
.banner3 {
grid-area: right;
margin-top:600px;

}
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration:none;
    color:white;
    padding: 0px;
    margin: 0px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #222931;
    width:120px;
    height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    z-index: 1;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }